<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967843797112-c1u705jv71tj89j5tcd83pdoc8qiuq6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967843797112-c1u705jv71tj89j5tcd83pdoc8qiuq6t</string>
	<key>API_KEY</key>
	<string>AIzaSyCvtLaj3Pa66wEguDG0LVDOMCF567BTeyA</string>
	<key>GCM_SENDER_ID</key>
	<string>967843797112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cf.infinitus.Tinitron</string>
	<key>PROJECT_ID</key>
	<string>tinitron-fa0b0</string>
	<key>STORAGE_BUCKET</key>
	<string>tinitron-fa0b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967843797112:ios:06f0c2190c98c69196f58d</string>
	<key>DATABASE_URL</key>
	<string>https://tinitron-fa0b0.firebaseio.com</string>
</dict>
</plist>